<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">

             <h2>查看會員資訊</h2>

                <table>
                    <thead>
                        <tr>
                            <th width="15%">會員帳號</th>
                            <th width="10%">會員名稱</th>
                            <th width="10%">lineID</th>
                            <th width="10%">性別</th>
                            <th width="15%">mail</th>
                            <th width="15%">生日</th>
                            <th width="15%">建立日期</th>                        
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<items.length; i++) {%>
                            <tr>
                                <td><%= items[i].memberphone %></a></td>
                                <td><%= items[i].membername %></td>
                                <td><%= items[i].lineid %></td>
                                <td><%= items[i].gender %></td>
                                <td><%= items[i].mail %></td>  
                                <td><%= items[i].birthday %></td>
                                <td><%= items[i].creationdate %></td>                     
                            </tr> 
                        <% } %> 
                    </tbody>
                </table>   
              
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
