<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>查看訂單明細</h2>
            <a href="/order/remove/form"><input type="submit" value="刪除餐點" ></a>
            <a href="/order/update/no"><input type="submit" value="修改餐點" ></a>


                <table>
                    <thead>
                        <tr>
                            <th width="20%">訂單明細編號</th>
                            <th width="20%">餐點編號</th>
                            <th width="20%">餐點數量</th>
                            <th width="20%">客製化</th>
                            <th width="20%">建立時間</th>
                                               
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<items.length; i++) {%>
                            <tr>
                                <td><%= items[i].orderdetailid %></a></td>
                                <td><%= items[i].foodid %></td>
                                <td><%= items[i].foodno %></td>
                                <td><%= items[i].customized %></td>
                                <td><%= items[i].ordtime %></td>                       
                            </tr> 
                        <% } %> 
                    </tbody>
                </table>

                
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
