<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">返回主頁</a></li> 
        </ul>
       
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>訂單明細</h2>

                <table>
                    <tr>
                        <td width="25%">訂單明細編號</td>
                        <td><%= item.orderdetailID %></td>
                    </tr>
                    <tr>
                        <td>餐點編號</td>
                        <td><%= item.foodID %></td>
                    </tr>
                    <tr>
                        <td>訂單編號</td>
                        <td><%= item.orderID %></td>
                    </tr>
                    <tr>
                        <td>餐點數量</td>
                        <td><%= item.foodNo %></td>
                    </tr>
                    <tr>
                        <td>客製化</td>
                        <td><%= item.customized %></td>
                    </tr>
                    <tr>
                        <td>成立時間</td>
                        <td><%= item.ordtime %></td>
                    </tr>                                                                                                                  
                </table>    
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>